
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LoginRegisterLayout.cshtml";
}

<div class="card">
    <div class="card-body login-card-body">
        <p class="login-box-msg">Giriş Yapınız</p>

        <form>

            <div class="input-group mb-3">
                <input type="email" class="form-control" placeholder="Email" id="Email">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-envelope"></span>
                    </div>
                </div>
            </div>
            <div class="input-group mb-3">
                <input type="password" class="form-control" placeholder="Password" id="Password">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>
            <div class="row">

                <!-- /.col -->
                <div class="col-12">
                    <button id="login" class="btn btn-primary btn-block">Giriş Yap</button>
                </div>
                <!-- /.col -->
            </div>
        </form>
        <p class="mb-0">
            <a href="" class="text-center">Üyeliğiniz yok mu hemen üye olun</a>
        </p>
    </div>
    <!-- /.login-card-body -->
</div>
<script src="~/Scripts/kendo/2021.2.616/jquery.min.js"></script>

<script src="~/Scripts/kendo/2021.2.616/kendo.all.min.js"></script>
<script src="~/Scripts/kendo/2021.2.616/kendo.aspnetmvc.min.js"></script>

<script src="~/Content/Main/sweetalert2/sweetalert2.all.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var validator = $("#ticketsForm").kendoValidator().data("kendoValidator");
        $("#login").click(function () {

            var data = new Object();
            data.Email = $('#Email').val();
            data.Password = $('#password').val();
            var durum = 0;
            $.ajax({
                type: "POST",
                url: '/User/Index',
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {

                    if (data) {
                        Toast.fire({
                            icon: 'success',
                            title: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                        })
                        window.location.href = "/Student/Index";
                    }
                    else {
                        Toast.fire({
                            icon: 'warning',
                            title: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                        })

                    }
                },
                error: function Error() {
                    alert("eror")
                }
            });
        });
    });


</script>